services:
  postgres:
    image: postgres:16
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  payout-service:
    build: .
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - DB_HOST=postgres
    ports:
      - "8080:8080"
    depends_on:
      - postgres

volumes:
  postgres_data: