spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:payouts}
    username: ${DB_USER:payout_user}
    password: ${DB_PASSWORD:payout_pass}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: UTC
    open-in-view: false
  flyway:
    enabled: true

server:
  port: ${SERVER_PORT:8080}